




h2{
    padding: 20px;
}

#selectionBarContainer{
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
    background-image: url(/images/NoiseBackground.png);
    border-bottom: outset 1px #ccc;
    border-top: solid 1px #ccc;
}

.littleLinkBoxContainer{
    display: inline-table;
    margin-left: auto;
    margin-right: auto;
    width: 980px;
    height: 22px;
    background-color:   #caf3ff;
    margin-bottom: 20px;
    text-align: center;
}
.littleLinkBoxContainer a{
    color: black;
    text-decoration: none;
}


.littleLinkBox{
    width: 45px;
    height: 20px;
    float: left;
    border: outset 1px #ccc;
    padding-top: 5px;

    background-color: whitesmoke;

  



}

#entries a.entry {   
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    background-color: #fafafa;
    /*box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);*/
    border: solid 1px #ccc;
    padding: 2px;
    float: left;
}
#aircraftEntry{
    height: 95px;
    width: 400px;
    margin: 0px 5px 5px 53px;
}


#airlineEntry{
    height: 95px;
    width: 146px;
    margin: 0px 5px 10px 72px;
}



#entries a.entry:hover {

    background-color: #fafafa;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.92);
}
#entries a.entry:hover {
    -webkit-transition: all 200ms ;
    -moz-transition: all 200ms ;
    -ms-transition: all 200ms ;
    -o-transition: all 200ms ;
    transition: all 200ms ;
}

#entries .entry .inline {
    position: absolute;
    width: 690px;
    height: 95px;
}

#entries .entry .image {
    float: left;
    width: 122px;
    height: 69px;
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    padding: 5px;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    margin:7px 2px auto 7px;
}

#entries .entry .e-right {
    float: left;
    width: 230px;
    margin: 7px 0px auto 10px;
    color: black;
}



#entries .entry img {
    width: 120px;
    height: 67px;
    overflow: hidden;
    float: left;
}

.clear{
    clear: both;
}


