/* 
    Document   : homeView
    Created on : 21.01.2013, 21:56:42
    Author     : hmk
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
    text-align: center;
}
h2{
    text-align: center;
}

/*#body{
    width: 750px;
    margin: auto;
    margin-top: 100px;
}*/

#homeForm{
    padding: 5px;
    margin: auto;
    margin-top: 5px;
    background-color: #fafafa;
    border-radius: 4px;
    /*box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.4);*/
    border: solid 1px #ccc;
    padding: 10px;
    height: 95px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    width: 600px;
    height: 250px; 
}
#homeForm form input{
    width: 160px;
    height: 26px;
}

.homeFormBelow {
    margin-top: 20px;
    padding-bottom:10px;
    text-align: center; 
}

.homeFormCenter {
    list-style-type: none;
    padding: 20px;
    text-align: center;
    
}
