/* 
    Document   : homeView
    Created on : 21.01.2013, 21:56:42
    Author     : hmk
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
    text-align: center;
}


#formular {
    padding: 10px;
    margin: auto;
    margin-top: 50px;
    background-color: white;
    border-radius: 4px;
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.4);
    border: inset 2px #aaa;
    padding: 10px;
    height: 95px;
    border-radius:5px;
    width: 600px;
    height: 350px;
}

.formularDown {
    margin-top: 150px;
    padding-bottom: 35px;
    border-radius:0 0 5px 5px;

    text-align: center; 
    border-top: 1px solid #ccc;
    background-color: #ddd;
    
    
}

.formularMiddl {
    list-style-type: none;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #ccc;

}

#formularLeft {
    list-style-type: none;
    padding: 20px;
    float: left;
}

#formularRight {
    list-style-type: none;
    padding: 20px;
    float: right;
}
