/* 
    Document   : homeView
    Created on : 21.01.2013, 21:56:42
    Author     : hmk
    Description:
        Purpose of the stylesheet follows.
*/




root { 
    display: block;
     text-align: center;
}


label{
    display: block;
    color:#aaa;
}
 
input{
    font-family:Arial, Helvetica, sans-serif; 
    font-size:12px; 
    color:#303030;
}

#formular {
  
   padding: 10px;
   
   margin-left: auto;
   margin-right: auto;
    
  border-top: solid black;
  border-right: solid black;
  border-bottom: solid black;
  border-left: solid black;
  background-color: #DADADA;
  
 
  
  border-radius:10px;
  
  width: 600px;
height: 350px;
  

    
}


.ui-datepicker {
    background: lightgray;
    border: 1px solid #555;
    color: black;
}

label {
   padding-top:  5px; 
    
}

.formularDown {
    list-style-type: none;
     margin-top: 150px;
    text-align: center;
}

.formularMiddl {
    list-style-type: none;
     padding: 20px;
    text-align: center;
}

#formularLeft {
    list-style-type: none;
     padding: 20px;
    float: left;
}

#formularRight {
    list-style-type: none;
     padding: 20px;
    float: right;
}


.dateField {
    
    
    
}



/* Styling search field. currently not implemented!! */
#formular input{
	width:85px;
	height:30px;
	margin-left:9px;
	margin-top:8px;
	border:none;
	padding-left:20px;
	padding-right:10px;
	color:#a5deed;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
/***  CSS Gradient  ***/
/*  Chrome 1-9 and Safari 4-5.0  */
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0.0,#7cd7ff),color-stop(1.0,#4b4b4b));
/*  Chrome 10+ Safari 5.1+ Mobile Safari  */
	background-image:-webkit-linear-gradient(top,#7cd7ff,#4b4b4b);
/*  Firefox 3.6+  */
	background-image:-moz-linear-gradient(top,#7cd7ff,#4b4b4b);
/*  IE 10+  */
	background-image:-ms-linear-gradient(top,#7cd7ff,#4b4b4b);
/*  Opera 11.10+  */
	background-image:-o-linear-gradient(top,#7cd7ff,#4b4b4b);
/*  W3C  */
	background-image:linear-gradient(top,#7cd7ff,#4b4b4b);
	background-repeat:no-repeat;
	background-color:#497690;
/* Fallback */
}
#formular input.searchField{
	-moz-box-shadow:inset 0 2px 1px 1px #35525f;
	-webkit-box-shadow:inset 0 2px 1px 1px #35525f;
	box-shadow:inset 0 2px 1px 1px #35525f;
	/*position: ;*/
}

#formular input.button{
 color: white;
text-align: center;
 border: 1px inset #003767;
}




.ui-autocomplete { position: absolute; 
                  cursor: pointer; 
                  list-style: none;
                  background: whitesmoke;
                  height: 100px;
                    overflow-x: auto;
                  
}


.ui-helper-hidden {
	display: none;
}


.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.ui-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
	content: "";
	display: table;
}
.ui-helper-clearfix:after {
	clear: both;
}
.ui-helper-clearfix {
	min-height: 0; /* support: IE7 */
}
.ui-helper-zfix {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0;
	filter:Alpha(Opacity=0);
}

.ui-front {
	z-index: 100;
}


/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
	cursor: default !important;
}


/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
}